h1{
    color: blue;
}
/* li{
    color: rgb(170, 194, 33);
} */
h4{
    color: #FF0000;
}

h3{
    color: rgba(255, 0, 225, 1);
}
body{
    background-image: url(https://wallpaperplay.com/walls/full/4/c/b/258530.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
p{
    font-family: 'Comic Neue', cursive;
    color: rgb(255, 255, 255);
}
span{
    color: aqua;
}
div{
    color: blue;
    border: green;
    border-style: dashed;
    border-width: 5px; 
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.firstdiv {
    background-color: aqua;
    color: rgb(0, 255, 42);
    font-size: larger;
}

.seconddiv {
    color: antiquewhite;
    font-size: smaller;
}

#one {
    color: rgb(255, 47, 47);
}

h3 + ul{
    color: blueviolet;
    border-width: 5px;
}

li a{
    color: gold;
}
.two{
    color: palevioletred;
}
#three{
    color: greenyellow;
    font-family: 'Oswald', sans-serif;
}
.Fir{
    color: black;
    font-weight: 200;
    font-size: 2em;
    border: 10px;
    border-style: solid;
    border-color: teal;
    width: 50%;
    text-align: center;
    margin: auto;
}
.Sec{
    color: black;
    font-weight: 200;
    font-size: 2em;
    border: 10px;
    border-style: solid;
    border-color: teal;
    width: 20%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

#CP{
    font-family: 'Roboto Mono', monospace;
    font-size: 80px;
    text-align: center;
    color: aquamarine;
}
.tbl{
    margin: auto;
}
#CP1{
    height: 100px;
    background-color: black;
    width: 100px;
    border: 10px white solid;
}
#CP2{
    height: 100px;
    background-color: gold;
    width: 50px;

}#CP3{
    height: 100px;
    background-color: red;
    width: 50px;
}

/* ID HAS HIGHER SPECIFITY THAN CLASS */
/* Margin is used in an element to create distance between that element and other elements of page. Where padding is used to create distance between content and border of an element.
Margin is not part of an element where padding is part of element. */
